@font-face{
  font-family: Rubik sans-serif;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Rubik sans-serif;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Rubik sans-serif;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: Raleway sans-serif;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

html{
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body{
  font-family: Rubik sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100%;
}



.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.container{
  width: 1160px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.main-container{
  flex-grow: 1;
}


.page-title{
  font-family: Raleway sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

/* Шапка */

 .page-header{
  font-size: 16px;
  line-height: 19px;
  background: linear-gradient(0deg, rgb(255, 225, 127) 82%, rgb(255, 255, 255) 50%);

  padding-top: 17px;
  padding-bottom: 39px;
}

.page-header-container{
  padding-left: 60px;
  padding-right: 36px;
}

.user-nav-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}

.header-logo{
  display: block;
  width: 146px;
  margin-bottom: 22px;
}


.user-nav-list-item{
  list-style-type: none;
  margin-left: 15px;
}

.user-nav-list-item-out{
  visibility: hidden;
}

.user-nav-link{
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 10px 20px 10px 45px;
  /* border: 2px solid #AF4FFF; */
  border-radius: 20px;
}

.user-nav-search{
  margin-right: auto;
  margin-left: 0;
}
.user-nav-form-input{
  border: none;
  /* border: 2px solid #AF4FFF; */
  border-radius: 20px;
  background-color: transparent;
  padding: 10px 220px 10px 35px;
}

/* .user-nav-form-input:hover{
  border: none;
  border: 2px solid #AF4FFF;
  border-radius: 20px;
  background-color: transparent;
  padding: 10px 290px 10px 52px;
}*/



.user-nav-form-input::placeholder{
  font-family: Rubik sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: .3;
}


.main-nav-list{
  font-family: Raleway sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}


.main-nav-list-item{
  margin-left: 12px;
}

.main-nav-list-contacts{
  margin-left: 72px;
}

.main-nav-sub-menu{
  margin-right: auto;
  margin-left: 0;
}
.main-nav-sub-menu-list{
  font-family: Rubik sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  letter-spacing: normal;
  list-style-type: none;
}



.main-nav-list-link{
  display: block;
  text-decoration: none;
  color: #000000;
  /* border: 2px solid #AF4FFF; */
  border-radius: 25px;
  padding: 14px 20px;
  margin-left: -22px;
}

/* Слайдер*/

.slider{
  background: linear-gradient(0deg, rgb(255, 255, 255) 74%, rgb(255, 225, 127) 50%);
  /* outline: 1px solid red; */
  position: relative;
  top:-40px;
}

.slider-1{
  display: flex;
}

.slider-img{
  display: block;
  width: 100%;
  height: auto;
}

.slider-right-column{
  width: 560px;
  position: relative;
  z-index: 2;
  padding-top: 125px;
}

.slider-left-column{
  margin-right: 40px;
}
.slide-number{
  font-weight: 800;
  font-size: 180px;
  line-height: 135px;
  color: #ffffff;
  background-color: transparent;
  display: block;
  width: 250px;
  height: 135px;
  text-align: center;
  position: absolute;
  top: 33px;
  right: 34px;
  z-index: -1;
}

.slide-title{
  margin: 0;
  margin-bottom: 28px;
}

.slide_subtitle{
  color: #444444;
  margin: 0;
  margin-bottom: 50px;
}

.slider-pagination-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.slider-pagination-list{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-pagination-item{
  border: 2px solid #000000;
  border-radius: 50%;
  margin-left: 22px;
}

.slider-pagination-button{
  display: block;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.slider-pagination-button-current{
  background-color: #000000;
}
.button{
  font-family: Raleway sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.slider-product-descr-list{
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-product-descr-left-column{
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin-right: 20px;
}

.slider-product-descr-right-column{
  display: flex;
  flex-direction: column-reverse;
}

.slider-product-descr-data{
  font-size: 36px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 11px;
}

.slider-product-descr-term{
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

/*Категории товаров*/

.product-categories{
  padding: 0 0 40px;
}

.product-categories-list-link{
  font-family: Raleway sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
  display: block;
}

.product-categories-list-link::before{
  display: block;
  content: '' ;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  margin-bottom: 33px;
}

.product-categories-bg-1::before{
  background-image: url(../img/popular_icon_1.svg);
}

.product-categories-bg-2::before{
  background-image: url(../img/popular_icon_2.svg);
  background-position: 50% 100%;
}
.product-categories-bg-3::before{
  background-image: url(../img/popular_icon_3.svg);
}
.product-categories-bg-4::before{
  background-image: url(../img/popular_icon_4.svg);
}
.product-categories-bg-5::before{
  background-image: url(../img/popular_icon_5.svg);
}
.product-categories-bg-6::before{
  background-image: url(../img/popular_icon_6.svg);
}

.product-categories-list{
  list-style-type: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
}

.product-categories-list-item{
  width: 160px;
  margin-bottom: 40px;
}

 /* Услуги */
.services{
  background: linear-gradient(0deg, rgb(235, 235, 235) 74%, rgb(255, 255, 255) 50%);
  padding-bottom: 144px;
 }

 .services-slider{
   display: flex;
 }

 .services-slide-left-column{
   width: 400px;
   padding-top: 65px;
 }

 .services-slide-right-column{
   width: 500px ;
   padding-top: 70px;
   /* outline: 1px solid green; */
 }
.services-button-current{
  color: #FFE17F;
  background-color: #000000;
 }

.services-title{
  margin: 0;
  margin-bottom: 34px;
}

.services-subtitle{
  color: #444444;
  margin: 0;
 }


 .services-slide-list-item{
   list-style-type: none;
 }
 /* О компании */
.about-us{
  padding-bottom: 87px;
}

.about-us-header{
  padding: 90px 0 97px;
}

 .about-us-inner{
   display: flex;
 }

 .about-us-left-column{
   width: 560px;
   margin-right: 40px;
   padding-top: 52px;
 }

 .about-us-right-column{
  width: 560px;
  padding-top: 52px;
 }
.about-us-header-link{
  font-family: Raleway sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  padding-top: 37px;
  padding-bottom: 37px;
  background-color: #f0f0f0;
}

.about-us-left-column-title, .contacts-page-title{
  margin: 0;
  margin-bottom: 46px;
}

.about-us-left-column-subtitle, .contacts-subtitle{
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.transport-list{
  margin: 0;
  padding: 0;
}
.transport-list-item{
  font-weight: bold;
  line-height: 20px;
  list-style-type: none;
  margin-bottom: 18px;
}


/* Контакты */

.contacts-subtitle{
  color: #444444;
}

.address-title, .work-time-title{
  font-weight: bold;
  font-size: 24px;
  color: #444444;
  margin: 0;
}

.work-time-title{
  margin-bottom: 15px;
}

.address-title{
  margin-bottom: 15px;
}
.address, .tel{
  color: #444444;
  margin: 0;
}

.tel{
  display: block;
  margin-bottom: 30px;
}

.work-time-list{
  margin: 0;
  padding: 0;
}

.work-time-list-item{
  color: #444444;
  list-style-type: none;
}

.contacts-button{
  display: block;
  margin-top: 67px;
}

/* Рассылка */

.mailing{
  background-color:#F0F0F0;
  padding-top: 75px;
  padding-bottom: 130px;
}

.mailing-title-section{
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
  padding-right: 35px;
}

.mailing-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mailing-button{
  border: 3px solid #D8D8D8;
  margin: 0;
  padding: 17px 35px;
}

.mailing-subtitle, .mailing-subscribe-free{
  color: #444444;
  margin: 0;
}

.mailing-subtitle{
  margin-top: 10px;
}
.mailing-title{
  margin: 0;
  margin-right: auto
}

.mailing-input{
  margin: 0;
  padding: 0;
  width: 595px;
  height: 57px;
  margin-right: -4px;
  border: none;
  border-bottom: 3px solid #D8D8D8;
  background-color: transparent;
  font-family: Rubik sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  padding-left: 5px;

}

.mailing-input::placeholder{
  font-family: Rubik sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: .5;
}

.mailing-subscribe-free{
  text-align: center;
}
/* Подвал */

.main-footer{
  color: #ffffff;
  background-color:#444444;
  padding-bottom: 54px;
}

.main-footer-inner{
  display: flex;
}

.main-footer-left-column{
  width: 250px;
  padding-top: 60px;
  margin-right: 111px;
}

.main-footer-logo{
  display: block;
  margin-bottom: 25px;
}

.main-footer-center-column{
  width: 440px;
  padding-top: 131px;
  /* outline: 1px solid blue; */
  margin-right: auto;
}

.main-footer-right-column{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 175px;
  padding-top: 130px;
}
.main-footer-address{
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  margin: 0;
}

.main-footer-list{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  margin-bottom: 57px;
}

.social-link-list{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  margin-left: -15px;
}

.social-link-list-icon{
  display: block;
  width: 40px;
  height: 40px;
  background-color: #7c7c7c;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
}

.fb-link{
background-image: url(/img/facebook.svg);
}
.insta-link{
background-image: url(/img/instagram.svg);
}
.twit-link{
background-image: url(/img/twitter.svg);
}

.main-footer-link{
  font-family: Raleway sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: .2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.main-footer-tel{
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 62px;
}

/* Стили страницы каталога */

.catalog-main{
  font-size: 16px;
  line-height: 19px;
}
.user-nav-link-out{
  opacity: .3;
}

.catalog-header{
  padding-top: 38px;
  padding-left: 60px;
}

.catalog-title{
  margin: 0;
  margin-bottom: 23px;
}

.breadcrumbs-list{
  font-size: 16px;
  line-height: 19px;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.breadcrumbs-list-item{
list-style-type: none;
margin-right: 21px;
}

.breadcrumbs-list-link{
  text-decoration: none;
  color: #000000;
  opacity: .6;
  padding: 5px;
}

/* Фильтры */

.product-filters{
  background: linear-gradient(180deg, #DCDCDC 6%, rgb(255, 255, 255) 5%);
  width: 328px;
  padding-left: 60px;
  padding-top: 24px;
}

.product-filters-checkbox-list-item{
  list-style-type: none;
}
.product-filters-title, .product-cards-title{
  font-family: Raleway sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.product-cards-title{
  margin-bottom: 0;
  margin-right: 45px;
}

.product-filters-group-title{
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.range-togle-price{
  font-size: 15px;
  line-height: 18px;
  opacity: .3;
}

.product-filters-radio-btn-list-item{
  list-style-type: none;
}
/* Карточки товаров */

.product-cards-header{
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-left: 63px;
  padding-bottom: 25px;
}
.products{
  background: linear-gradient(90deg, rgb(235, 235, 235) 25%, rgb(255, 255, 255) 5%);
}
.products-inner{
  display: flex;
  outline: 1px solid blue;
}

.product-filters-group{
  margin-bottom: 45px;
}

.product-cards-section{
  background: linear-gradient(180deg, rgb(235, 235, 235) 6%, rgb(255, 255, 255) 5%);
  width: 972px;
  padding-left: 72px;
  padding-bottom: 77px;
}
.product-cards-select{
  font-family: Rubik sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.product-card-title{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product-cards-list{
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  margin-bottom: 44px;
}

.product-cards-list-item{
  list-style-type: none;
  width: 360px;
  outline: 1px solid red;

}


.product-cards-link{
  text-decoration: none;
  color: #000000;
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: 380px 32px min-content;

}

.product-cards-link-img{
  width: 100%;
  height: auto;
  grid-column: 1/3;
}


.product-card-title{
  margin: 0;
  grid-column: 1/2;
  grid-row: 3/4;
}

.product-card-price{
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: flex-end;
}

.product-cards-pagination-list{
  display: flex;
  margin: 0;
  padding: 0;
  width: 760px;
  height: 70px;
  background-color: #EBEBEB;
  align-items: center;
  padding: 0 30px;
}

.product-cards-pagination-list-item{
  list-style-type: none;
  margin: 0 30px;
}

.product-cards-pagination-link-back{
  margin-right: auto;
}

.product-cards-pagination-link-fwd{
  margin-left: auto;
}

.products-catalog-button, .product-cards-pagination-link{
  font-size: 16px;
  line-height: 19px;
}

.products-catalog-button{
  width: 760px;
  height: 55px;
  margin-bottom: 50px;
}

.product-cards-pagination-link-number{
  color: #444444;
  opacity: .3;
  text-decoration: none;
  display: block;
}
